body {
    margin: 0;
    padding: 0;
}
#div1{
    width: 100%;
    height: 590px;
    background-color: rgb(159, 202, 178);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
#div1 div{
    width: 33%;
    height: 100%;
    margin-top: 50px;
}
.num{
    margin: 0;
    color: white;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    font-size: 30px;
    margin-bottom: 20px;
}

.text{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

#third-part {
    padding: 40px;
    box-sizing: border-box;
}

.third-part-content-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.third-part-content-inner-items {
    width: 400px;
    height: 350px;
    border: 1px solid;
    margin: 10px;
    border: none;
}

.third-part-content-inner-items img {
    object-fit: cover;
}


.part-six {
    width: 100%;
    display: flex;
}
.picture-1 {
    width: 50%;
    height: 800px;
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/7a741ca8672855049de99b33/pexelsphoto1600130.jpeg");
    background-position: 50% 50%;
    background-size: cover;
}
.picture-2 {
    width: 50%;
    height: 800px;
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/34e7285222bb5eb2b79f2c42/pexelsphoto1622419.jpeg");
    background-position: 50% 50%;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}